/*Обнуление*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	min-height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/

body,
html {
    font-family: 'Josefin Sans', 'Cormorant Infant', sans-serif;
    box-sizing: border-box;
}
:root {
    --main: #292E36;
    --gold: #E1B168;
    --white: #FFFFFF;
    --border-main: #5C6168;
    --main-bc: #FFF8F5;
    --light-main: #555555;
  }
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/*---header-----------------*/

.header {
    background-color: var(--main);
}
.header__container {
    display: flex;
    flex-direction: column;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-bottom: 2px solid var(--border-main);
}
.header__logo img {
    width: 100%;
}
.btn {
    padding: 20px;
    width: 270px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    background-color: var(--main);
    border: 2px solid var(--gold);
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn:before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: var(--gold);
    transition: 1s;
}
.btn:hover::before {
    left: 0;
}
@media (max-width: 1099px) {
    .header__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .header__cal {
        order: 2;
    }
    .header__logo {
        order: 1;
    }
    .header__reservation {
        order: 3;
    }
}
@media (max-width: 704px) {
    .header__container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }
    .header__row {
        margin: 15px 0 0 0;
    }
}
@media (max-width: 307px) {
    .header__cal {
        width: 100%;
    }
    .header__reservation {
        width: 100%;
    }
    .btn {
        width: 100%;
        font-size: 16px;
    }
}

/*---nav-----------------*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
#burger {
    display: none;
}
.burger__menu {
    display: none;
}
.nav__menu {
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav__link {
    font-size: 20px;
    font-weight: 400;    
}
.nav__link a {
    color: var(--white);
}
.nav__link a:hover {
    color: var(--gold);
    transition: 0.3s;
}
.social__media {
    display: flex;
    align-items: center;
    gap: 25px;
}
.social__media a:hover {
    opacity: 0.5;
}
@media (max-width: 999px) {
    .nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 10px 0 10px 0;
        gap: 20px;
    }
}
@media (max-width: 704px) {
    .nav {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 44px;
        background-color: var(--main);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0 0 0;
        gap: 20px;
    }
    .nav__menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: -200%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--main);
        gap: 30px;
        transition: 1.5s;
    }
    .nav__link {
        font-size: 22px;
    }
    .social__media {
        position: fixed;
        top: 10px;
        right: 15px;
        z-index: 2;
    }
    .burger__menu {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
    .burger__line {
        width: 35px;
        height: 2px;
        background-color: var(--gold);
    }
    #burger:checked ~ .nav__menu {
        left: 0;
        transition: 0.8s;
    }
}

/*---main-----------------*/

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100%;
}
.main__welcome {
    background-color: var(--main);
    padding: 50px 0;
}
.welcome__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welcome__row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 610px;
}
.welcome__title {
    font-family: Cormorant Infant;
    font-size: 100px;
    font-weight: 400;
    text-align: left;    
    color: var(--white);
}
.welcome__discription {
    font-size: 20px;
    font-weight: 400;
    color: var(--white);  
}
@media (max-width: 1229px) {
    .welcome__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .welcome__row {
        align-items: center;
        max-width: 100%;
    }
    .welcome__title {
        text-align: center;
    }
    .welcome__discription {
        text-align: center;
    }
    .welcome__image img {
        width: 100%;
    }
}
@media (max-width: 704px) {
    .main__welcome {
        background-color: var(--main);
        padding: 30px 0;
    }
    .welcome__title {
        font-size: 60px;
    }
}
.main__information {
    background-color: var(--main-bc);
}
.information__container {
    display: flex;
    flex-direction: column;
    padding: 0 15px 50px 15px;
}
.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.information__row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.information__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.information__subtitle {
    font-family: Cormorant Infant;
    font-size: 30px;
    font-weight: 400;
}
.information__discription {
    font-size: 20px;
    font-weight: 400;
    color: var(--light-main);
}
@media (max-width: 1251px) {
    .information {
        margin: 0 auto;
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
.story {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 0 50px 0;
}
.story__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.stories__title {
    font-family: Cormorant Infant;
    font-size: 40px;
    font-weight: 400;
    color: var(--main);
}
.story__discription {
    font-size: 20px;
    font-weight: 400;  
    color: var(--light-main);
}
.stories__body {
    display: flex;
    gap: 50px;
}
.stories__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.stories__subtitle {
    font-family: Cormorant Infant;
    font-size: 40px;
    font-weight: 400;
    color: var(--main);
}
.stories__text {
    font-size: 20px;
    font-weight: 400;
    color: var(--light-main); 
}
.stories__name {
    font-size: 20px;
    font-weight: 400;
    color: var(--light-main); 
}
@media (max-width: 1251px) {
    .story {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0;
    }
    .story__image img {
        width: 100%;
    }
    .story__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stories__title {
        text-align: center;
    }
    .story__discription {
        text-align: center;
    }
    .stories__body {
        width: 100%;
    }   
    .stories__item {
        flex: 1 1 50%;
        align-items: center;
        text-align: center;
    }
    .stories__subtitle {
        text-align: center;
    }
    .stories__text {
        max-width: 100%;
        text-align: center;
    }
}
.main__menu {
    padding: 50px 0;
}
.menu__special_dishes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subtitle {
    width: 64px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 4px 0 0 0;
    border-top: 2px solid var(--gold);
    border-bottom: 2px solid var(--gold);
    color: var(--main);
    text-align: center;
}
.menu__special_row {
    display: flex;
    gap: 55px;
}
.special__dishes {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    gap: 15px;
}
.dish_title {
    font-family: Cormorant Infant;
    font-size: 40px;
    font-weight: 400;
    color: var(--main);    
}
.dish__discription {
    font-size: 20px;
    font-weight: 400; 
    color: var(--light-main);
    padding: 0 0 30px 0;
}
.dish__image {
    padding: 0 0 40px 0;
}
.dish__btn {
    margin: 15px 0 0 0;
    color: var(--gold);
    background-color: var(--white);
    border: 2px solid var(--gold);
    padding: 20px;
}
.dish__btn:before {
    background-color: var(--gold);
    opacity: 0.5;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
}
.menu__item {
    display: flex;
    flex-direction: column;
    gap: 30px
}
.menu__title {
    font-family: Cormorant Infant;
    font-size: 36px;
    font-weight: 400;
    color: var(--main);    
}
.menu__row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu__body {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}
.menu__info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.menu__name {
    font-family: Cormorant Infant;
    font-size: 30px;
    font-weight: 400;
    color: var(--main);    
}
.menu__discription {
    font-size: 20px;
    font-weight: 400; 
    color: var(--light-main);   
}
.menu__line {
    position: relative;
    bottom: 5px;
    width: 20px;
    display: block;
    flex: 1 1;
    border-bottom: 2px dashed var(--border-main);
}
.menu__price {
    font-family: Cormorant Infant;
    font-size: 30px;
    font-weight: 400;
    color: var(--main);
}
@media (max-width: 1144px) {
    .main__menu {
        padding: 50px 0 20px 0;
    }
    .menu__special_row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .special__dishes {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        gap: 30px;
    }
    .dish_title {
        text-align: center;
    }
    .dish__discription {
        text-align: center;
        padding: 0;
    }
    .dish__image {
        padding: 0;
    }
}
@media (max-width: 604px) {
    .dish__image img {
        width: 100%;
    }
    .menu {
        gap: 50px;
    }
    .menu__item {
        gap: 25px
    }
    .menu__title {
        font-size: 26px;
    }
    .menu__body {
        gap: 5px;
    }
    .menu__name {
        font-size: 16px;   
    }
    .menu__discription {
        font-size: 14px;
    }
    .menu__line {
        border-bottom: 1px dashed var(--border-main);
    }
    .menu__price {
        font-size: 16px;
    }
}
@media (max-width: 433px) {
    .menu__line {
        border-bottom: none;
    }
    .menu__image img {
        width: 100%;
    }
}










.main__testimonial {
    background-color: var(--main);
}
.testimonial__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 15px 100px 15px;
}
.testimonial__row {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 15px;
}
.testimonial__subtitle {
    color: var(--white);
    width: 141px; 
}
.testimonial__title {
    font-family: Cormorant Infant;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: var(--white);
}
.testimonial__discription {
    font-size: 20px;
    font-weight: 400; 
    color: var(--white);
}
.person__row {
    max-width: 564px;
    overflow: hidden;
}
.person__slidies {
    width: 300%;
    height: 100%;
    display: flex;
    gap: 10px;
}
.person__slidies input {
    display: none;
}
.person__slide {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--light-main);
    border-radius: 30px;
    max-width: 554px;
    transition: 1.5s;
    box-sizing: border-box;
}
.person__image {
    position: relative;
}
.person__image:before {
    content: url(../image/main/testimonial/quotes.svg);
    position: absolute;
    top: 0;
    left: 0;
}
.person__body {
    max-width: 454px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.person__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.preson__name {
    font-family: Cormorant Infant;
    font-size: 30px;
    font-weight: 400;
    color: var(--white);
}
.person__city {
    font-size: 20px;
    font-weight: 400;
    color: var(--gold);
}
.preson__line {
    background-color: var(--border-main);
    width: 85%;
    height: 3px;
    align-self: center;
}
.person__discription {
    font-family: Cormorant Infant;
    padding: 15px 40px 10px 40px;
    font-size: 24px;
    font-weight: 400;
    color: var(--white);
}
.testimonial__nav {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.nav__slide {
    height: 10px;
    width: 40px;
    cursor: pointer;
    background-color: var(--gold);
    border-radius: 5px;
    transition: 0.5s;
}
.nav__slide:hover {
    opacity: 0.4;
    transform: scale(1.2);
}
#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -33.3333333%;
}
#r3:checked ~ .s1 {
    margin-left: -66.6666666%;
}
@media (max-width: 593px) {
    .person__row {
        width: 100%;
    }
    .person__slide {
        width: 32.6%;
    }
}